{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-sm-offset-2">
           <img src="https://learn.getgrav.org/user/pages/11.troubleshooting/01.page-not-found/error-404.png">
        </div>
    </div>
{% endblock %}