{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-3">
            <h2>Edit Venue</h2><br/>
            {{ form(editForm) }}
        </div>
    </div>
{% endblock %}

