{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-sm-8 col-sm-offset-3">
            <h2></h2><br/>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}